:root {
  --color-black: black;
  --color-grey: grey;
}

/* Footer section */
.footer {
  background: var(--color-grey);
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
}
