:root {
  --color-black: black;
}

/* Header section */
.header {
  background: var(--color-black);

  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  /* min-width: 1000px; */
}
